{{template "base" .}}

{{define "content"}}
  <h1>About Page</h1>
  <p>This came from the template: {{index .StringMap "test"}}</p>
  <p>
    {{if ne (index .StringMap "remote_ip") ""}}
      Your remote IP address is {{index .StringMap "remote_ip"}}.
    {{else}}
      Your remote IP address is unknown.
    {{end}}
  </p>
{{end}}